@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
h3,
h4,
p {
  color: hsl(0, 0%, 81%);
}

p {
  font-size: 13px;
  opacity: 70%;
  line-height: 1.5em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 13px;
  opacity: 50%;
}

.dark {
  color: #48556a;
}

.grid-container {
  margin: 8vh 0;
  display: grid;
  grid-template-columns: 330px;
  justify-content: center;
  row-gap: 20px;
}

.grid-container > div {
  border-radius: 0.5em;
  padding: 2em;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile-image {
  width: 2.5em;
  border-radius: 50%;
}

.profile-info {
  margin-left: 1em;
}

.header {
  margin: 1em 0;
  font-size: 1.2em;
}

.item-1 {
  grid-row: 1;
  background: #7541c8 no-repeat right 10% top/35% url('./images/bg-pattern-quotation.svg');
}
.item-2 {
  background-color: #48556a;
  grid-row: 2;
}
.item-3 {
  background-color: #fff;
  grid-row: 3;
}
.item-4 {
  background-color: #19212e;
  grid-row: 4;
}
.item-5 {
  background-color: #fff;
  grid-row: 5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    max-width: 1200px;
    max-height: 800px;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .item-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    background: #7541c8 no-repeat right 3em top/8em
      url('./images/bg-pattern-quotation.svg');
  }
  .item-2 {
    grid-column: 3/4;
    grid-row: 1;
  }
  .item-3 {
    grid-column: 1;
    grid-row: 2;
  }
  .item-4 {
    grid-column: 2/4;
    grid-row: 2;
  }
  .item-5 {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}
