@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
h3,
h4,
p {
  color: hsl(0, 0%, 81%);
}

p {
  font-size: 13px;
  opacity: 70%;
  line-height: 1.5em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 13px;
  opacity: 50%;
}

.dark {
  color: #48556a;
}

.grid-container {
  margin-top: 8vh;
  display: grid;
  grid-template-columns: 330px;
  row-gap: 20px;
}

.grid-container > div {
  border-radius: 0.5em;
  padding: 2em;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile-image {
  width: 13%;
  border-radius: 50%;
}

.profile-info {
  margin-left: 1em;
}

.header {
  margin: 1em 0;
  font-size: 1.2rem;
}

.item-1 {
  background-color: #7541c8;
  grid-row: 1;
}
.item-2 {
  background-color: #48556a;
  grid-row: 2;
}
.item-3 {
  background-color: #fff;
  grid-row: 3;
}
.item-4 {
  background-color: #19212e;
  grid-row: 4;
}
.item-5 {
  background-color: #fff;
  grid-row: 5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
}
